<head>
    <style>
      body {
        margin: 5% 10%;
        background-color: #d6feddd7;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
  
      .reset {
        background-color: #27ad61;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #e7e7e7;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.25s color;
      }
  
      .reset:hover {
        color: #158c49;
      }
    </style>
  </head>
  
  <body>
    <span>Dear <%= name %>,</span>
    <span>Did you forget your password?</span>
    <span>We have recently got a request for resetting the password on your account.</span>
    <br />
    <span>If this was you, please click on the button below. Otherwise, you can ignore it.</span>
    <a href="<%= resetURL %>" class="reset">Reset Password</a>
    <br />
    If the button does not work, please paste the URL below into your browser:
    <a href="<%= resetURL %>"><%= resetURL %></a>
  </body>